<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Missions</title>
</head>
<body>

<!-- Form to add a new missions -->
<form action="#" th:action="@{/missions/add}" th:object="${mission}" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="missionName" th:field="*{missionName}" required>

  <label for="missionObjective">Mission Objective</label>
  <input type="text" id="missionObjective" name="missionObjective" th:field="*{missionObjective}" required>

  <label for="launchDate">Launch Date</label>
  <input type="date" id="launchDate" name="launchDate" th:field="*{launchDate}">

  <label for="crewOnBoard">Crew On Board</label>
  <input type="number" id="crewOnBoard" name="crewOnBoard" th:field="*{crewOnboard}" required>

  <label for="isSuccess">Was it successful</label>
  <input type="checkbox" id="isSuccess" name="isSuccess" th:field="*{success}">


  <label for="missionType">Mission Type</label>
  <select id="missionType" name="missionType" th:field="*{missionType}">
    <option value="" disabled selected>Select a mission type</option>
    <option th:each="type : ${missionTypes}" th:value="${type}" th:text="${type}"></option>
  </select>

  <input type="submit" value="Add Mission">
</form>

</body>
</html>