<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Space Missions</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"> </script>

</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>


<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

    <div class="col-md-4 mb-4">
      <div class="card mb-4" style="height: 400px;">
        <img th:src="@{/missionPlaceholder.png}" class="card-img-top" alt="Mission Image"/>

        <div class="card-body">
          <h5 class="card-title">Missions</h5>
          <p class="card-text">View and manage all the space missions here.</p>

          <a href="/missions" class="btn btn-primary">View Missions</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4" style="height: 400px;">
        <img th:src="@{/rocketPlaceholder.png}" class="card-img-top" alt="Rocket Image"/>

        <div class="card-body">
          <h5 class="card-title">Rockets</h5>
          <p class="card-text">View and manage all the rockets here.</p>

          <a href="/rockets" class="btn btn-primary">View Rockets</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4" style="height: 400px;">
        <img th:src="@{/launchSitePlaceholder.png}" class="card-img-top" alt="Placeholder Image"/>

        <div class="card-body">
          <h5 class="card-title">Add Missions</h5>
          <p class="card-text">Add new missions here.</p>

          <a href="/missions/add" class="btn btn-primary">Add Missions</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card mb-4" style="height: 400px;">
        <img th:src="@{/launchSitePlaceholder.png}" class="card-img-top" alt="Placeholder Image"/>

        <div class="card-body">
          <h5 class="card-title">Add Rockets</h5>
          <p class="card-text">Add new rockets here.</p>

          <a href="/rockets/add" class="btn btn-primary">Add Rockets</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div th:insert="~{fragments/navbar :: footer}"></div>
</body>
</html>
