<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"> </script>

</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>

<h1 th:text="#{rocket.heading}">All Rockets</h1>


<div class="container mt-5">

  <form th:action="@{/rockets/filter}" method="get" class="row g-2 mb-4">
    <div class="col-md-4">
      <input type="number" step="0.1" name="minCapacity" placeholder="Minimum Launch Capacity"
             class="form-control mb-2" th:placeholder="#{filter.capacity}" required>
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary w-100">
        <i class="bi bi-filter"></i> <span th:text="#{filter.button}">Filter</span>
      </button>
    </div>
  </form>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <!-- Loop through the list of rockets -->
    <div class="col-12 col-sm-6 col-md-4" th:each="rocket : ${rockets}">
      <div class="card mb-4" style="height: 400px;">
        <!-- Image for the rocket -->
        <img th:src="@{'/' + ${rocket.imageFileName}}" class="card-img-top" alt="Rocket Image"/>

        <!-- Rocket details -->
        <div class="card-body">
          <h5 class="card-title" th:text="${rocket.rocketName}"></h5>
          <p class="card-text">
            Manufacturer: <span th:text="${rocket.manufacturer}"></span><br>
          </p>
          <!-- Button for more details -->
          <a th:href="@{/rockets/{id}(id=${rocket.getRocketId()})}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:insert="~{fragments/navbar :: footer}"></div>

</body>
</html>